@model IEnumerable<Ripple.Models.Events>

@{
    ViewBag.Title = "Search Results";
}
<div class="floating-content-block">

    <div id="ResultsSearchBlock">
        @Html.Partial("~/Views/Shared/_EventsSearchForm.cshtml")
    </div>

  
    <hr />

    @if (Model != null && Model.Count() > 0)
    {
        for (int key = 0; key < Model.Count(); key++)
        {
            var evnt = Model.ElementAt(key);
            <div class="media">
                <div class="media-left">
                    @* There is another way to do this. I just wanted to show getting and posting with MVC as a demo, *@
                    <a href="@Url.Action("View", "Details", new { SearchTerm=ViewBag.SearchTerm,
                            Category = ViewBag.Category,
                            StartDateFilter = ViewBag.StartDate,
                            City = ViewBag.City,
                            Venue = ViewBag.Venue,
                            StartDate = evnt.StartDate, //The following is a compound key for and evente
                            Title = evnt.Title,
                            Time =evnt.Time })">
                        <img class="media-object" src="//placehold.it/64x64" alt="@evnt.Description" />
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href=@Url.Action("View", "Details", new { SearchTerm=ViewBag.SearchTerm,
                            Category = ViewBag.Category,
                            StartDateFilter = ViewBag.StartDate,
                            City = ViewBag.City,
                            Venue = ViewBag.Venue,
                            StartDate = evnt.StartDate, //The following is a compound key for and evente
                            Title = evnt.Title,
                            Time =evnt.Time })>@evnt.Title</a></h4>
                    <p>
                        @evnt.Description
                    </p>
                </div>
            </div>
        }
    }
    else
    {
        <div>Sorry there are no results that match your search</div>
    }

</div>   

@section scripts {        
    <script>
        $(function () {
            var filters = {
                Category: '@ViewBag.Category',
                StartDate: '@ViewBag.StartDate',
                City: '@ViewBag.City',
                Venue: '@ViewBag.Venue'
            }
            initFilters(filters);
        });
    </script>
}